[submodule "subprojects/wlroots"]
	path = subprojects/wlroots
	url = https://gitlab.freedesktop.org/wlroots/wlroots.git
[submodule "subprojects/libliftoff"]
	path = subprojects/libliftoff
	url = https://gitlab.freedesktop.org/emersion/libliftoff.git
[submodule "subprojects/mobydeck"]
	path = subprojects/mobydeck
	url = git@github.com:Joshua-Ashton/moby_deck_private.git
